In [9]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
summer_df = pd.read_csv('summer.csv')

# Check the first few rows of the dataset
print(summer_df.head())

# Which country won the most Gold medals, in each of the Olympics?
most_gold_medals = summer_df[summer_df['Medal'] == 'Gold'].groupby(['Year', 'Team']).size().groupby('Year').idxmax().reset_index(name='Most Gold Medals')
print("Country with the most Gold medals in each Olympics:")
print(most_gold_medals)

# How many cities hosted the Summer Olympics games, since 1896?
num_cities = summer_df['City'].nunique()
print("Number of cities that hosted the Summer Olympics since 1896:", num_cities)

# How many medals were won by women in Summer Olympics?
women_medals = summer_df[summer_df['Sex'] == 'F'].shape[0]
print("Number of medals won by women in Summer Olympics:", women_medals)

# Top 10 Women Athletes - Gold Medals
top_women_athletes = summer_df[(summer_df['Sex'] == 'F') & (summer_df['Medal'] == 'Gold')].groupby('Sport').size().nlargest(10)
print("Top 10 Women Athletes with the most Gold Medals:")
print(top_women_athletes)
# Top 5 countries to win most Gold medals in 2012
top_countries_2012 = summer_df[(summer_df['Year'] == 2012) & (summer_df['Medal'] == 'Gold')].groupby('Team').size().nlargest(5)
print("Top 5 countries with the most Gold medals in 2012:")
print(top_countries_2012)

# Let us find out which year the sport was inducted into Olympics
sport_induction_year = summer_df.groupby('Sport')['Year'].min().reset_index(name='Induction Year')
print("Year in which each sport was inducted into Olympics:")
print(sport_induction_year)

# Data Visualization
# You can create visualizations based on the analysis above using matplotlib or seaborn
# For example:
# Bar plot for top 5 countries with the most Gold medals in 2012
plt.figure(figsize=(10, 6))
top_countries_2012.plot(kind='bar', color='gold')
plt.title('Top 5 Countries with the Most Gold Medals in 2012')
plt.xlabel('Country')
plt.ylabel('Number of Gold Medals')
plt.xticks(rotation=45)
plt.show()

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN
Country with the most Gold medals in each Olympics:
    Year       Most Gold Medals
0   1896        (1896, Germany)
1   1900         (1900, France)
2   1904  (1904, United States)
3   1906         (1906, France)
4   1908  (1908, Great Britain)
5   1912         (1912, Sweden)
6   1920  (1920, United States)
7   1924  (1924, United States)
8   1928  (1928, United States)
9   1932  (1932, United States)
10  1936        (1936, Germany)
11  1948  (1948, United States)
12  1952  (1952, United States)
13  1956   (1956, Soviet Union)
14  1960  (1960, United States)
15  1964  (1964, United States)
16  1968  (1968, United States)
17  1972   (1972, Soviet Union)
18  1976   (1976, Soviet Union)
19  1980   (1980, Soviet Union)
20  1984  (1984, United States)
21  1988   (1988, Soviet Union)
22  1992   (1992, Unified Team)
23  1994         (1994, Sweden)
24  1996  (1996, United States)
25  1998  (1998, United States)
26  2000  (2000, United States)
27  2002         (2002, Canada)
28  2004  (2004, United States)
29  2006         (2006, Sweden)
30  2008  (2008, United States)
31  2010         (2010, Canada)
32  2012  (2012, United States)
33  2014         (2014, Canada)
34  2016  (2016, United States)
Number of cities that hosted the Summer Olympics since 1896: 42
Number of medals won by women in Summer Olympics: 74522
Top 10 Women Athletes with the most Gold Medals:
Sport
Swimming                493
Athletics               428
Rowing                  238
Gymnastics              234
Hockey                  158
Volleyball              156
Handball                155
Basketball              131
Fencing                 119
Cross Country Skiing    113
dtype: int64

KeyError: 'CTeam'

In [ ]:
# How many cities hosted the Summer Olympics games, since 1896?
num_cities = summer_df['City'].nunique()
print("Number of cities that hosted the Summer Olympics since 1896:", num_cities)

In [ ]:
# How many medals were won by women in Summer Olympics?
women_medals = summer_df[summer_df['Sex'] == 'F'].shape[0]
print("Number of medals won by women in Summer Olympics:", women_medals)

In [ ]:
# Top 10 Women Athletes - Gold Medals
top_women_athletes = summer_df[(summer_df['Sex'] == 'F') & (summer_df['Medal'] == 'Gold')].groupby('Sport').size().nlargest(10)
print("Top 10 Women Athletes with the most Gold Medals:")
print(top_women_athletes)

In [ ]:
# Top 5 countries to win most Gold medals in 2012
top_countries_2012 = summer_df[(summer_df['Year'] == 2012) & (summer_df['Medal'] == 'Gold')].groupby('Team').size().nlargest(5)
print("Top 5 countries with the most Gold medals in 2012:")
print(top_countries_2012)